.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.dropzone {


    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}




   .center-container {
    position: absolute;
    top: 250px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  .center-align {
    text-align: center;
  }
  
.logOut {
    margin-top: 20px; margin-bottom: 10px; margin-right: 25px; text-align: right;
}


.standardButton {
    background-color: #3f51b5 !important;
    color: #fff !important;
}

#buttonSeparator {
    margin: 7px;
}

#buttonTopSeparator{
    margin-top: 20px;
}

.tableHeader {
    font-weight: bold !important;
    color:  #3f51b5;
}


#tableButton {
    margin-top: -4px;
}